# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/

# Ignore VSCode settings
.vscode/

# Ignore environment variables file
.env

# Ignore compiled files
*.so
*.o
*.exe

# Ignore logs and database
*.log
*.sqlite3

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore node_modules (for JS projects)
node_modules/

# Ignore compiled Python files
*.pyc


*.txt